.input-validate{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.input-validate label{
    margin-left: 4px;
    font-size: smaller;
}

.input-validate .label--required::after{
    content: "*";
    color: red;
    font-size: larger;
}

.input-validate .input{
    width: 100%;
    padding: 6px 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.input-validate .input:focus{
    border: none;
}

.input-validate .input:focus-visible{
    outline: 4px solid #66ffff;
    border: none;
}

.input-validate .input--required{
    border-color: #ff944d;
}

.input-validate .input--required:focus-visible{
    outline-color: #ff944d;
}

.input-validate .input--error{
    color: red;
    border-color: red;
}

.input-validate .input--error:focus-visible{
    outline-color: #ff0000;
}

.input-validate .error-alert{
    color: red;
    font-size: small;
}

.input-validate .hide{
    display: none;
}