@import url("../share-styles.css");

.contact{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    row-gap: 2rem;
    padding: 0.5em;
}

.contact__heading{
    font-size: x-large;
    font-weight: 500;
    color: var(--color-title);
    text-transform: uppercase;
    margin-bottom: calc(1rem + 4px);
    position: relative;
}

.contact__heading::after{
    content: '';
    width: 100px;
    height: 5px;
    border-radius: 2px;
    background-color: orange;
    position: absolute;
    bottom: -1rem;
    left: 0.5rem;
}

.contact__title{
    color: var(--color-title);
    font-size: larger;
    font-weight: 500;
}

.contact__form{
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.contact-form__input{
    width: 100%;
    padding: 0.5em;
    border: 2px solid var(--color-text-lighter);
    border-radius: 3px;
}

.contact-form__input:focus-visible{
    border: none;
    outline: 3px  solid var(--color-theme-lighter);
}

.contact-form__input--message{
    resize: none;
    height: 120px;
}

.contact__submit{
    padding: 8px 20px;
    border-radius: 4px;
    color:white;
    background-color: var(--color-theme);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.contact__submit:hover{
    background-color: var(--color-theme-lighter);
    box-shadow: none;
}

.contact__info{
    text-align: start;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    column-gap: 1em;
    row-gap: 2rem;
    color: var(--color-text-lighter);
    font-size: smaller;
}

.contact-info__icon{
    font-size: large;
}

@media screen and (min-width: 640px){

    .contact{
        text-align: start;
        margin: 0 1em;
        display: grid;
        grid-template-columns: 3fr 7fr;
        column-gap: 2rem;
        align-items: start;
        justify-items: start;
    }

    .contact__heading{
        grid-column: span 2;
    }

    .contact__title--query {
        grid-column: 2;
        grid-row: 2;
    }

    .contact__form{
        max-width: 100%;
    }

    .contact__submit{
        align-self: start;
    }
}

@media screen and (min-width: 1280px) {
    .contact{
        max-width: 1280px;
        margin: 0 auto;
    }
}


