@import url("../share-styles.css");

.main{
    margin: 0 auto;
    max-width: 1280px;
}

.bills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.bills__loading{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.bills-loading__status{
    text-align: center;
    font-size: x-large;
    color: darkgray;
}

.bills-loading__status--fail{
    color: red;
}

.bills__table{
    margin-top: 1em;
    border-collapse: collapse;
}

th,  td{
    text-align: start;
    padding:1em 2em;
}

tr:not(thead tr){
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.bill__return-btn{
    color: red;
    font-size: large;
}

.bill__return-btn:active{
    background-color: red;
    color: white;
}

.bill__details{
    margin-top: 0.5em;
    position: relative;
}

.bill__details summary {
    color: #3399ff;
}

.bill__products{
    width: 100vw;
    max-width: 768px;
    background-color: whitesmoke;
    border-collapse: collapse;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 1.5em;
    overflow: scroll;
}

.product__info{
    display: flex;
    gap:1em;
}

.product__photo{
    width: 100px;
    aspect-ratio: 4/3;
    border-radius: 4px;
}

.product__name{
    font-size: large;
}

.bills__back-to-shopping{
    color:red;
    border-radius: 4px;
    padding: 8px 12px;
    border: 1px solid red;
    text-decoration: none;
    align-self: start;
}


.bills__notification-window{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bills__notification{
    max-width: 768px;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.4);
    padding: 1em 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    gap: 2.5em;
    animation: bills__notification--appear 0.5s ease-out;
    transition-property: transform, top;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.bills__notification--disappear{
    transform: scale(0);
    top: -50vh;
}

@keyframes bills__notification--appear {
  from {
    transform: scale(0);
    top: -50vh;
  }
  to {
    transform: scale(1);
    top: 0;
  }
}

.bills-notification__title{
    margin-top: 1em;
    font-size: xx-large;
    color: #00ff00;
}

.bills-notification__title--error{
    color: red;
}

.bills-notification__description{
    font-size: large;
}

.bills-notification__confirm-btn{
  padding: 8px 16px;
  border-radius: 4px;
  font-size: larger;
  color: white;
  background-color: #00ff00;
}

.bills-notification__confirm-btn--error{
    background-color: purple;
}

.bills-notification__confirm-btn:hover{
    background-color: greenyellow;
}



