@import url("../share-styles.css");

.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 60px 0px;
}

.about__logo{
    display: flex;
    color: white;
    width: 190px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #666699;
    font-weight: 300;
}

.about__title{
    font-size: large;
    text-align: center;
    font-weight: 400;
}

.about__title > span{
    font-weight: 700;
    color: #1ac6ff;
}

.about__description{
    font-size: medium;
    color: var(--color-text);
    text-align: center;
}

.about__nav-link{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__link{
    padding: 10px 40px;
    background-color: var(--color-title);
    color: white;
    font-weight: 500;
    border-radius: 4px;
}

.about__link:hover{
    background-color: var(--color-text);
}

@media screen and (min-width: 375px) {
    .about__title{
        font-size: x-large;
    }
}

@media screen and (min-width: 480px) {
    .about__title{
        font-size: xx-large;
    }

    .about__nav-link{
        flex-direction: row;
        justify-content: center;
    }
}
